@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

/* login */
.bg-image {
    background-image: url(../img/cover-blurred.png);
    background-size: cover;
    height: 95vh;
    background-attachment: fixed;
  }

.login-box {
  margin-top: 18%;
  background-color: white;
  width: 80vh;
  height: 60vh;
  padding: 5%;
  border-radius: 3%;
  border-style: groove;
}

.sub-font {
    font-family: PT sans;
    font-size: larger
}

.main-font {
    font-family: squada one;
    font-weight: 500;

}


/* .header */
.header-bg{
  background-color: #000E34;
  opacity: 0.8;
}
/* nav sidebar */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

/* nav sidebar */
a {
  list-style: none;
  text-decoration: none;
}

.list {
  transition: 0.3s;
  color: black;
}

.list:hover {
  background-color: #000E34;
  opacity: 0.8;
  color: white;
}

/* Nav */
nav {
  background-color: #000E34;
  opacity: 0.8;
}

/* Div-Container */
.div-container {
  /* background-color: blue; */
}

/* Grid */
.grid {
  height: 100vh;
}

/* Menu */
.menu {
  padding: 0;
  /* background-color: #090927; */
  /* color: white; */
}

/* Profile */
.profile {
  max-height: 400px;
  border-top: 0px;
  border-bottom: 1px;
  border-left: 0px;
  border-right: 0px;
  border-color: rgb(200, 200, 200);
  border-style: solid;
}

/* Board */
.board {
}

/* Dashboard */
.dashboard .title-dashboard {
  background-color: #000E34;
  opacity: 0.8;
  color: white;
}

.report .title-report {
  background-color: #000E34;
  opacity: 0.8;
  color: white;
}

/* Data-Table */
.data-table {
  padding: 0;
}

/* Data-Table */
/* Tab */
.tab {
  min-height: 85px;
  max-height: 85px;
  background-color: #000E34;
  opacity: 0.8;
  color: white;
}

/* Tab Menu */
.tab-menu .row > div {
  min-height: 90px;
  max-height: 90px;
}

.tab-icon {
  width: 50px;
  height: 50px;
}

.g {
  color: rgb(18, 141, 18);
}

.r {
  color: #b40d0d;
}

.y {
  color: rgb(255, 222, 35);
}
