@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

/* login */
.bg-image {
    background-image: url(../img/cover-blurred.png);
    background-size: cover;
    height: 95vh;
    background-attachment: fixed;
  }

.login-box {
  margin-top: 18%;
  background-color: white;
  width: 80vh;
  height: 60vh;
  padding: 5%;
  border-radius: 3%;
  border-style: groove;
}

.sub-font {
    font-family: PT sans;
    font-size: larger
}

.main-font {
    font-family: squada one;
    font-weight: 500;

}


/* .header */
.header-bg{
  background-color: #000E34;
  opacity: 0.8;
}
/* nav sidebar */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

